<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
<menu>
<add id="Ahrk_FaqsGrid::ahrk" title="Ahrk" module="Ahrk_FaqsGrid" resource="Ahrk_FaqsGrid::ahrk" sortOrder="900" />
<add id="Ahrk_FaqsGrid::faq"  title="FAQs" module="Ahrk_FaqsGrid" resource="Ahrk_FaqsGrid::faq"  parent="Ahrk_FaqsGrid::ahrk" action="faqs_grid/faq" />
</menu>

</config>
